<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{:: title}, ~{:: script})}" >
<head>
<title th:text="${loggedInUser.name}+ ' - NexusFlow | Add Contact' "> </title>
</head>
<body>
    <div id="content">
        <div th:if="${loggedInUser}">
        <div th:replace="~{user/sidebar :: sidebar}"></div>
    </div>

    
    <div class="sm:pl-64 pt-20" >
        <div class="grid grid-cols-12">
           <div class="col-span-3"></div>
           <div class=" col-span-12 md:col-span-6">
            

            <div class=" card block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Add New Contact</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400 text-sm">This conatct will store on cloud, we can direct email to client from NexusFlow .</p>
           
                <div th:replace="message :: messagebox"></div>

            <form 
            th:action="@{'/user/contacts/add'}" 
            th:object="${contactForm}" 
            method = "post" 
            class="mt-8"
            enctype="multipart/form-data"
            >

                <!-- name  -->
                 <div class="mb-4">
               
                 <label for="email-address-icon" class="block mb-2  mt-4 text-sm font-medium text-gray-900 dark:text-white">Contact Name</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                  <i class="fa-solid fa-user"></i>
                </div>
                <input type="text"
                th:field="*{name}"
                id="email-address-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Contact Name">
                
                </div>
                <span class="text-red-500"
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}"
                ></span>

                <!-- email  -->
                <div class="mb-3">
                 <label for="email-address-icon" class="block mb-2  mt-4 text-sm font-medium text-gray-900 dark:text-white">Contact Email</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                   <i class="fa-solid fa-envelope"></i>
                </div>
                <input type="text" 
                th:field="*{email}"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="example@nexusflow.in">
                </div>
                <span class="text-red-500"
                th:if="${#fields.hasErrors('email')}"
                th:errors="*{email}"
                ></span>

                 <!-- phone  -->
                <div class="mb-3">
                 <label for="email-address-icon" class="block mb-2  mt-4 text-sm font-medium text-gray-900 dark:text-white">Contact Phone</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                   <i class="fa-solid fa-phone"></i>

                </div>
                <input type="text" 
                th:field="*{phoneNumber}"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="+91 123456789">
                </div>
                <span class="text-red-500"
                th:if="${#fields.hasErrors('phoneNumber')}"
                th:errors="*{phoneNumber}"
                ></span>

                <!-- address  -->

                <div class="mt-3">

                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Address</label>
                    <textarea
                    th:field="*{address}"
                    rows="3" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Please provide contact address here..."></textarea>
                </div>


                 <!-- descriiption  -->

                <div class="mt-3">

                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Description</label>
                    <textarea 
                    th:field="*{description}"
                    rows="3" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Please provide contact address here..."></textarea>
                </div>


                <!-- social links  -->
            

                <div class="flex mt-3 gap-2 mb-4">
                    <div class="w-full">
                        <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                 <i class="fa-solid fa-link"></i>
                </div>
                <input type="text" 
                th:field="*{websiteLink}"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="www.nexusflow.in">
                </div>
                    </div>
                    <div class="w-full">
                        <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                 <i class="fa-brands fa-linkedin"></i>
                </div>
                <input type="text" 
                th:field="*{linkedInLink}"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="LinkedIn Profile">
                </div>
                    </div>

                  
                </div>

               
            <!-- image  -->
            <div class="mb-3">

                <label class="block mb-2  mt-4 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Contact Image</label>
                <input 
                id="image_file_input"
                th:field="*{contactImage}"
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"  type="file">

                <img class="max-h-40 rounded-lg mt-4 mb-4"   src="" id="upload_image_preview" alt="">
            </div>

 <!-- favorites  -->
                
                <div class="flex items-center mb-3 mt-3">
                    <input 
                     th:field="*{favorite}"
                    type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Favorite?</label>
                </div>
                

               <div class="mb-3 flex justify-center space-x-3">
                    <button type="submit" class="px-3 py-2 rounded bg-blue-700 hover:bg-blue-600 text-white ">Add Contact</button>

                     <button type="reset" class="px-3 py-2 rounded bg-red-700 hover:bg-blue-600 text-white ">Reset</button>
                </div>
                </div>
            </form>
    
            </div>
            </div>
        </div>
        </div>
    </div>

    <script th:src="@{'/js/admin.js'}"></script>
    <script>
        console.log("Hello from add add_contact.html");
     </script>
</body>
</html>