<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{:: title}, ~{:: script})}" >
<head>
<title th:text="${loggedInUser.name}+ ' - NexusFlow | Dashboard' "> </title>
</head>
<body>
    <div id="content">
        <!-- agar user login hai to ye siderbar show hoga -->

    <div th:if="${loggedInUser}">
        <div th:replace="~{user/sidebar :: sidebar}"></div>
    </div>

        <div class="pl-64 pt-20 h-1000" >
            <div class="text-center">
                <h1 class="font-bold text-3xl">Welcome to Dashboard</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe reprehenderit dolorum odit vel reiciendis aliquam!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis ad debitis animi beatae. Doloremque sed ipsum earum vitae molestiae voluptate, minus voluptatum cumque quisquam architecto odio exercitationem reprehenderit suscipit soluta fugit recusandae nobis, corrupti totam tempore aliquam, alias asperiores est enim! Facere distinctio possimus accusantium enim beatae sed corporis vel.</p>
            </div>
        </div>
    </div>

    <script>
        console.log("Hello from profile.html");
     </script>
</body>
</html>