<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{:: title}, ~{:: script})}">
<head>
<title>NexusFlow - About</title>
</head>
<body>
    
    <div id="content"
    th:classappend="${loggedInUser} ? 'mt-15' : 'mt-0'"  
    >
        <h1>Welcome to About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae exercitationem facilis nisi vero in amet illum sit accusamus reiciendis.</p>
    </div>
    <script>
        console.log("Hello from about.html");
     </script>
</body>
</html>