<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>This is About Page</h1>
    <hr>
    <!-- <div class="host-fragment" th:insert="~{base :: parent}"></div> -->
     <div class="host-fragment" th:replace="${isLogin} ? ~{base :: parent(~{::section})} : ~{base :: test}">
     <section> User is loggedIn This is content section</section>
     </div>
    
</body>
</html>