<!DOCTYPE html>
<html class="light"
lang="en" 
th:fragment="parent(content, title, script)" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">NexusFlow</title>
    <link rel="stylesheet" th:href="@{'/css/output.css'}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
   <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark')
    }
</script>
</head>
<body class="dark:bg-gray-900 dark:text-white" >
    <!-- Common Header  -->
     <div th:replace="navbar :: navbar"></div>
    <!-- main content here -->
     <div class="p-4">
        <section data-th-replace="${content}"></section>
     </div>

     <!-- Footer  -->
     <div th:replace="footer :: footer"></div>

    
     <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
     <script data-th-replace="${script}"></script>
     <script th:src="@{'/js/mode.js'}"></script>
</body>
</html>